.badge {
  padding: 6px 12px;
  font-size: 0.85rem;
  border-radius: 12px;
  font-weight: 500;
  display: inline-block;
}

.btn-delete {
  background-color: #ff4d4f; // Rouge vif
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #d9363e;
    transform: scale(1.1);
  }

  mat-icon {
    font-size: 20px;
  }
}
