<div class="container-fluid">
  <div class="custom-card">
    <div class="header-bar d-flex justify-content-between align-items-center">
      <h4 class="page-title">Categories</h4>
      <button class="btn btn-primary" (click)="openAddDialog()">
        <span class="iconify me-2" data-icon="mdi:plus-circle"></span> Add Category
      </button>
    </div>

    <div class="widget-content searchable-container list">
      <div class="card card-body shadow-sm rounded-4 mt-3">
        <div class="row g-3 align-items-center">
          <div class="col-md-4">
            <input
              type="text"
              class="form-control ps-5 rounded-pill search-input"
              [(ngModel)]="searchTerm"
              (input)="onSearchChange()"
              placeholder="Search categories..."
            />
          </div>
        </div>
      </div>
    </div>

    <mat-card class="cardWithShadow mt-4">
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="w-100" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Parent Column -->
            <ng-container matColumnDef="parentCategory">
            <th mat-header-cell *matHeaderCellDef> Parent </th>
            <td mat-cell *matCellDef="let element">
                <span 
                class="badge" 
                [ngClass]="getCategoryColorClass(element.parentCategory)">
                {{ element.parentCategory }}
                </span>
            </td>
            </ng-container>


            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button class="btn-delete" color="warn" (click)="deleteCategory(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
</div>
