<h2 mat-dialog-title class="title">
  <span class="icon-wrapper">
    <span class="iconify" data-icon="mdi:package-variant"></span>
  </span>
  {{ product.name }}
</h2>

<mat-dialog-content class="dialog-content">
  <div class="product-preview">

    <div class="left-side">

      <div class="image-container" [class.floating]="product.discount">
        <img *ngIf="product.imageUrl" [src]="getFullImagePath(product.imageUrl)" alt="Product image" />
        <div class="discount-badge" *ngIf="product.discount !== undefined && product.discount > 0">
        -{{ product.discount }}%
        </div>
      </div>
    </div>

    <div class="info">
              <svg #barcodeSvg class="barcode"></svg>

      <div class="info-row">
        <span class="iconify" data-icon="mdi:tag"></span>
        <p><strong>Brand:</strong> {{ product.brand }}</p>
      </div>

      <div class="info-row">
        <span class="iconify" data-icon="mdi:shape"></span>
        <p><strong>Category:</strong> {{ product.category }}</p>
      </div>

      <div class="info-row price-section">
        <span class="iconify" data-icon="mdi:cash"></span>
        <p>
          <strong>Price:</strong>
          <span class="current-price">{{ product.price }} DH</span>
          <span *ngIf="product.oldPrice" class="old-price">{{ product.oldPrice }} DH</span>
        </p>
      </div>

      <div class="info-row">
        <span class="iconify" data-icon="mdi:package-variant"></span>
        <p><strong>Status:</strong>
          <span class="status" [ngClass]="product.inStock ? 'in-stock' : 'out-of-stock'">
            {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
          </span>
        </p>
      </div>


    </div>


  </div>
   <div class="description-section">
        <h3>
          <span class="iconify" data-icon="mdi:text-box"></span>
          <strong>Description:</strong>
        </h3>
        <div class="description" [innerHTML]="sanitizeHtml(product.description)"></div>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" (click)="close()" class="close-btn">
    <span class="iconify" data-icon="mdi:close"></span>
    Close
  </button>
</mat-dialog-actions>

