<app-header></app-header>

  <div class="main-wrapper overflow-hidden">
    <!-- ------------------------------------- -->
    <!-- Banner Start -->
    <!-- ------------------------------------- -->
    <section class="section-articles">
        <div class="container-fluid">
            <div class="articles-header">
            <h2 class="articles-title">
                Our most recent articles
            </h2>
            <div class="articles-links">
                <a href="../main/frontend-landingpage.html" class="link-matdash">
                Home
                </a>
                <span class="iconify arrow-icon" data-icon="solar:alt-arrow-right-outline"></span>
                <a class="link-blog">
                Blog posts
                </a>
            </div>
            </div>
        </div>
    </section>

    <!-- ------------------------------------- -->
    <!-- Banner End -->
    <!-- ------------------------------------- -->

    <!-- ------------------------------------- -->
    <!-- List Start -->
    <!-- ------------------------------------- -->
    <section class="bg-light-gray pb-3 pb-md-7 pb-lg-12">
      <div class="container-fluid">
        <div class="blog-card">
        <div class="row">
            <div class="col-lg-6 order-last order-lg-first">
            <div class="blog-content">
                <div class="blog-text-content">
                <div class="subCategory-badge">
                    <p>Web Development</p>
                </div>
                <a href="../main/frontend-blogdetailpage.html" class="blog-title-link">
                    <h2 class="blog-title">
                    Early Black Friday Amazon deals: cheap TVs, headphones, laptops
                    </h2>
                </a>
                <p class="blog-description">
                    Learn the best practices for creating responsive websites that look great on any
                    device, from mobile phones to desktops.
                </p>
                <div class="blog-meta">
                    <div class="views-comments">
                    <div class="views">
                        <span class="iconify" data-icon="mdi:eye" style="font-size: 20px; color: #333;"></span>
                        <span>6941</span>
                    </div>
                    <div class="comments">
                        <span class="iconify" data-icon="mdi:message-text-outline" style="font-size: 20px; color: #333;"></span>
                        <span>3</span>
                    </div>
                    </div>
                    <div class="blog-date">
                        <span class="iconify" data-icon="mdi:circle-outline" style="font-size: 18px; color: #333;"></span>
                        <span>Tue, May 2</span>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-lg-6 order-first order-lg-last">
                <div class="blog-image" style="background-image: url('../assets2/images/frontend-pages/blog-2.jpg');">
                    <img src="../assets2/images/profile/user-6.jpg" alt="user" class="author-img">
                    <div class="read-time">
                        <p>2 min Read</p>
                    </div>
                </div>

            </div>
        </div>
     </div>


        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="card rounded-3 overflow-hidden">
              <a href="" class="position-relative">
                <img src="../assets2/images/frontend-pages/blog-3.jpg" alt="blog image" class="w-100 img-fluid">
                <div class="position-absolute bottom-0 end-0 me-9 mb-3">
                  <p class="text-dark fs-2 px-2 rounded-pill bg-white mb-0 ">2 min Read</p>
                </div>
                <div class="position-absolute bottom-0 ms-7 mb-n9">
                  <img src="../assets2/images/profile/user-3.jpg" alt="user" class="rounded-circle" width="44px" height="44px">
                </div>
              </a>
              <div class="mt-7 px-7 pb-7 h-100">
                <div class="d-flex gap-3 flex-column h-100 justify-content-between">
                  <div class="d-flex">
                    <p class="fs-2 px-2 rounded-pill bg-muted bg-opacity-25 text-dark mb-0">
                      Web Development
                    </p>
                  </div>
                  <a href="" class="fs-5 fw-bolder">
                    Presented by Max Rushden with Barry Glendenning, Philippe Auclair
                  </a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-9">
                      <div class="d-flex gap-2">
                        <span class="iconify" data-icon="mdi:eye" style="font-size: 20px; color: #333;"></span>
                        <p class="mb-0 fs-2 fw-bold">6941</p>
                      </div>
                      <div class="d-flex gap-2">
                        <span class="iconify" data-icon="mdi:message-text-outline" style="font-size: 20px; color: #333;"></span>
                        <p class="mb-0 fs-2 fw-bold">3</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <span class="iconify" data-icon="mdi:circle-outline" style="font-size: 18px; color: #333;"></span>
                      <p class="mb-0 fs-2 fw-bold">Tue, May 2</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="col-lg-4 col-md-6">
            <div class="card rounded-3 overflow-hidden">
              <a href="" class="position-relative">
                <img src="../assets2/images/frontend-pages/blog-5.jpg" alt="blog image" class="w-100 img-fluid">
                <div class="position-absolute bottom-0 end-0 me-9 mb-3">
                  <p class="text-dark fs-2 px-2 rounded-pill bg-white mb-0 ">2 min Read</p>
                </div>
                <div class="position-absolute bottom-0 ms-7 mb-n9">
                  <img src="../assets2/images/profile/user-3.jpg" alt="user" class="rounded-circle" width="44px" height="44px">
                </div>
              </a>
              <div class="mt-7 px-7 pb-7 h-100">
                <div class="d-flex gap-3 flex-column h-100 justify-content-between">
                  <div class="d-flex">
                    <p class="fs-2 px-2 rounded-pill bg-muted bg-opacity-25 text-dark mb-0">
                      Web Development
                    </p>
                  </div>
                  <a href="" class="fs-5 fw-bolder">
                    Presented by Max Rushden with Barry Glendenning, Philippe Auclair
                  </a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-9">
                      <div class="d-flex gap-2">
                        <span class="iconify" data-icon="mdi:eye" style="font-size: 20px; color: #333;"></span>
                        <p class="mb-0 fs-2 fw-bold">6941</p>
                      </div>
                      <div class="d-flex gap-2">
                        <span class="iconify" data-icon="mdi:message-text-outline" style="font-size: 20px; color: #333;"></span>
                        <p class="mb-0 fs-2 fw-bold">3</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <span class="iconify" data-icon="mdi:circle-outline" style="font-size: 18px; color: #333;"></span>
                      <p class="mb-0 fs-2 fw-bold">Tue, May 2</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="col-lg-4 col-md-6">
            <div class="card rounded-3 overflow-hidden">
              <a href="" class="position-relative">
                <img src="../assets2/images/frontend-pages/blog-6.jpg" alt="blog image" class="w-100 img-fluid">
                <div class="position-absolute bottom-0 end-0 me-9 mb-3">
                  <p class="text-dark fs-2 px-2 rounded-pill bg-white mb-0 ">2 min Read</p>
                </div>
                <div class="position-absolute bottom-0 ms-7 mb-n9">
                  <img src="../assets2/images/profile/user-3.jpg" alt="user" class="rounded-circle" width="44px" height="44px">
                </div>
              </a>
              <div class="mt-7 px-7 pb-7 h-100">
                <div class="d-flex gap-3 flex-column h-100 justify-content-between">
                  <div class="d-flex">
                    <p class="fs-2 px-2 rounded-pill bg-muted bg-opacity-25 text-dark mb-0">
                      Web Development
                    </p>
                  </div>
                  <a href="" class="fs-5 fw-bolder">
                    Presented by Max Rushden with Barry Glendenning, Philippe Auclair
                  </a>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-9">
                      <div class="d-flex gap-2">
                        <span class="iconify" data-icon="mdi:eye" style="font-size: 20px; color: #333;"></span>
                        <p class="mb-0 fs-2 fw-bold">6941</p>
                      </div>
                      <div class="d-flex gap-2">
                        <span class="iconify" data-icon="mdi:message-text-outline" style="font-size: 20px; color: #333;"></span>
                        <p class="mb-0 fs-2 fw-bold">3</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <span class="iconify" data-icon="mdi:circle-outline" style="font-size: 18px; color: #333;"></span>
                      <p class="mb-0 fs-2 fw-bold">Tue, May 2</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- ------------------------------------- -->
    <!-- List End  -->
    <!-- ------------------------------------- -->

    <!-- ------------------------------------- -->
    <!-- Focus Start -->
    <!-- ------------------------------------- -->
    <section class="hero-section position-relative">
        <div class="screenshot-left position-absolute top-50 start-0 translate-middle-y d-none d-xxl-block">
            <img src="../assets2/images/frontend-pages/screenshot-1.png" alt="screenshot left">
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
            <div class="col-lg-9 text-center hero-content">
                <a class="hero-logo shadow bg-white" href="../main/frontend-landingpage.html">
                <img src="../assets2/images/logos/logo-icon.svg" alt="logo">
                </a>
                <h2 class="hero-title">
                Focus on what truly matters—creating stunning, functional designs.
                </h2>
                <p class="hero-subtitle">
                Designed for ease of use and customization, this template helps you build professional dashboards faster.
                </p>
                <a href="../main/authentication-register.html" class="btn btn-outline-light btn-register">
                Register
                </a>
            </div>
            </div>
        </div>

        <div class="screenshot-right position-absolute top-50 end-0 translate-middle-y d-none d-xxl-block">
            <img src="../assets2/images/frontend-pages/screenshot-2.png" alt="screenshot right">
        </div>
    </section>

    <!-- ------------------------------------- -->
    <!-- Focus End -->
    <!-- ------------------------------------- -->
  </div>


<app-footer></app-footer>

