<footer class="custom-footer">
  <div class="container-fluid">
    <div class="row footer-section">
      <div class="col-md-3 col-6 footer-section">
        <img src="../assets2/images/logos/white-logo.svg" alt="white logo" class="footer-logo">
        <ul class="footer-links">
          <li><a href="../main/app-kanban.html" class="footer-link">Kanban</a></li>
          <li><a href="../main/app-invoice.html" class="footer-link">Invoice List</a></li>
          <li><a href="../main/eco-shop.html" class="footer-link">eCommerce</a></li>
          <li><a href="../main/app-chat.html" class="footer-link">Chat</a></li>
          <li><a href="../main/app-calendar.html" class="footer-link">Calendar</a></li>
          <li><a href="../main/blog-posts.html" class="footer-link">Blog</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-6 footer-section">
        <h3 class="fs-4 text-white fw-semibold mb-7">Forms</h3>
        <ul class="footer-links">
          <li><a href="../main/form-basic.html" class="footer-link">Form Basic</a></li>
          <li><a href="../main/form-horizontal.html" class="footer-link">Form Horizontal</a></li>
          <li><a href="../main/form-wizard.html" class="footer-link">Form Wizard</a></li>
          <li><a href="../main/form-bootstrap-validation.html" class="footer-link">Form Validation</a></li>
          <li><a href="../main/form-editor-quill.html" class="footer-link">Quill Editor</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-6 footer-section">
        <h3 class="fs-4 text-white fw-semibold mb-7">Tables</h3>
        <ul class="footer-links">
          <li><a href="../main/table-basic.html" class="footer-link">Basic Table</a></li>
          <li><a href="../main/table-dark-basic.html" class="footer-link">Table Dark Basic</a></li>
          <li><a href="../main/table-sizing.html" class="footer-link">Table Sizing</a></li>
          <li><a href="../main/table-layout-coloured.html" class="footer-link">Coloured Table</a></li>
          <li><a href="../main/table-datatable-basic.html" class="footer-link">Basic Initialisation</a></li>
          <li><a href="../main/table-datatable-api.html" class="footer-link">API</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-6 footer-section">
        <h3 class="fs-4 text-white fw-semibold mb-7">Follow us</h3>
        <div class="social-icons">
          <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Facebook" class="social-icon">
            <img src="../assets2/images/frontend-pages/icon-facebook.svg" alt="facebook">
          </a>
          <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Twitter" class="social-icon">
            <img src="../assets2/images/frontend-pages/icon-twitter.svg" alt="twitter">
          </a>
          <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Instagram" class="social-icon">
            <img src="../assets2/images/frontend-pages/icon-instagram.svg" alt="instagram">
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-logo-bottom">
        <img src="../assets2/images/logos/logo-icon-white.svg" alt="logo">
        <p class="text-white opacity-50 mb-0">All rights reserved by MatDash.</p>
      </div>
      <div class="footer-credits">
        <p class="text-white mb-0">
          <span class="opacity-50">Produced by</span>
          <a href="https://adminmart.com/" class="footer-link">AdminMart</a>.
        </p>
      </div>
    </div>
  </div>
</footer>


<a href="javascript:void(0)" class="top-btn btn btn-primary d-flex align-items-center justify-content-center round-54 p-0 rounded-circle" (click)="scrollToTop()">
<span class="iconify text-white fs-7" data-icon="mdi:arrow-up"></span>
</a>