<app-header></app-header>

<div class="contact-wrapper overflow-hidden">
  <!-- Banner Section -->
  <section class="contact-banner">
    <div class="container-fluid">
      <div class="contact-header">
        <h2 class="title">We’d love to hear from you</h2>
        <div class="breadcrumb-nav">
          <a href="/" class="breadcrumb-link">Home</a>
          <span class="iconify" data-icon="solar:alt-arrow-right-outline"></span>
          <a class="breadcrumb-link active">Contact Us</a>
        </div>
      </div>
      <div class="map-wrapper">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.2527998699!2d-74.14448787425354!3d40.697631233397885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1727857429230!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>

  <!-- Form Section -->
  <section class="contact-form-section">
    <div class="container-fluid">
      <div class="form-row">
        <div class="info-box">
          <div class="info-item">
            <h3>Reach Out Today</h3>
            <p>Have questions or need assistance? We're just a message away.</p>
          </div>
          <div class="info-item">
            <h3>Our Location</h3>
            <p>Visit us in person or find our contact details to connect with us directly.</p>
          </div>
        </div>
        <div class="form-box">
          <form>
            <div class="form-group-row">
              <div class="form-group">
                <label for="Fname">First Name *</label>
                <input type="text" id="Fname" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="Lname">Last Name *</label>
                <input type="text" id="Lname" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group-row">
              <div class="form-group">
                <label for="phone">Phone Number *</label>
                <input type="tel" id="phone" placeholder="XXX XXX XXXX">
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" id="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="enquire">Enquire related to *</label>
              <select id="enquire">
                <option>General Enquiry</option>
                <option>Customer Service Enquiry</option>
                <option>Legal Enquiry</option>
              </select>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea id="message" rows="5"></textarea>
            </div>
            <div class="form-submit">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Call To Action Section -->
  <section class="focus-section">
    <div class="focus-img left">
      <img src="../assets2/images/frontend-pages/screenshot-1.png" alt="left-img">
    </div>
    <div class="container-fluid">
      <div class="focus-content">
        <a class="focus-logo" href="../main/frontend-landingpage.html">
          <img src="../assets2/images/logos/logo-icon.svg" alt="logo">
        </a>
        <h2 class="focus-title">
          Focus on what truly matters—creating stunning, functional designs.
        </h2>
        <p class="focus-text">
          Designed for ease of use and customization, this template help you build professional dashboards faster.
        </p>
        <a href="auth/register" class="btn-register">Register</a>
      </div>
    </div>
    <div class="focus-img right">
      <img src="../assets2/images/frontend-pages/screenshot-2.png" alt="right-img">
    </div>
  </section>
</div>

<app-footer></app-footer>
