<app-header></app-header>
 <div class="main-wrapper overflow-hidden">
    <!-- ------------------------------------- -->
    <!-- banner Start -->
    <!-- ------------------------------------- -->
    <section class="py-lg-7 pt-lg-12 bg-light-gray overflow-hidden">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div>
              <h1 class="fs-14 fw-medium lh-sm mb-4">
                <b>A feature-packed dashboard</b> built for developers' needs.
              </h1>
              <div class="d-flex align-items-center gap-8 mb-4">
                <ul class="hstack mb-0">
                  <li class="">
                    <a href="javascript:void(0)" class="">
                      <img src="../assets2/images/profile/user-5.jpg" class="rounded-circle border border-2 border-white" width="40" height="40" alt="Matdash-img">
                    </a>
                  </li>
                  <li class="ms-n8">
                    <a href="javascript:void(0)" class="">
                      <img src="../assets2/images/profile/user-2.jpg" class="rounded-circle border border-2 border-white" width="40" height="40" alt="Matdash-img">
                    </a>
                  </li>
                  <li class="ms-n8">
                    <a href="javascript:void(0)" class="">
                      <img src="../assets2/images/profile/user-6.jpg" class="rounded-circle border border-2 border-white" width="40" height="40" alt="Matdash-img">
                    </a>
                  </li>
                </ul>
                <p class="fs-6 mb-0 fw-medium">52,589+ developers & agencies using our templates
                </p>
              </div>
              <div class="d-flex align-items-center gap-6 mb-4">
                <a class="d-flex align-items-center justify-content-center bg-white rounded-3 round-54 shadow" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Bootstrap">
                  <img src="../assets2/images/frontend-pages/icon-bootstrap.svg" width="28" height="28" alt="icon">
                </a>
                <a class="d-flex align-items-center justify-content-center bg-white rounded-3 round-54 shadow" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Sass">
                  <img src="../assets2/images/frontend-pages/icon-sass.svg" width="28" height="28" alt="icon">
                </a>
                <a class="d-flex align-items-center justify-content-center bg-white rounded-3 round-54 shadow" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Gulp">
                  <img src="../assets2/images/frontend-pages/icon-gulp.svg" width="28" height="28" alt="icon">
                </a>
                <a class="d-flex align-items-center justify-content-center bg-white rounded-3 round-54 shadow" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Figma">
                  <img src="../assets2/images/frontend-pages/icon-figma.svg" width="24" height="24" alt="icon">
                </a>
                <a class="d-flex align-items-center justify-content-center bg-white rounded-3 round-54 shadow" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-title="Apexchart">
                  <img src="../assets2/images/frontend-pages/icon-apexchart.svg" width="24" height="24" alt="icon">
                </a>
              </div>
              <a href="javascript:void(0)">
                <a href="../main/authentication-login.html" class="btn btn-primary">Log
                  In</a>
              </a>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="banner-image overflow-hidden">
              <img src="../assets2/images/frontend-pages/banner-image.png" class="img-fluid" alt="banner">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------------------------------- -->
    <!-- banner End -->
    <!-- ------------------------------------- -->

   
   
  </div>
<app-footer></app-footer>
